@import 'app/sass/structure-sections/s-actors/_s-actors-var.sass'

.s-actors-nav
  position: absolute
  left: 0
  bottom: 0
  width: $nav-container-side
  height: $nav-container-side
  z-index: 2
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: max-content auto
  
  transition: $slider-transition

  $tt: transparent
  $gradient-1: linear-gradient(0, #fff, #fff $delta-val, $tt $delta-val, $tt)
  $gradient-2: linear-gradient(90deg, #fff $delta-val, $tt $delta-val, $tt)
  background: $gradient-1, $gradient-2

.s-actors-info
  grid-column: 1/3
  // order: 1

.s-actors-nav-control
  display: grid
  grid-template-columns: repeat(2, max-content)
  grid-template-rows: auto max-content
  align-items: end
  justify-items: end
  justify-content: end
  grid-column: 3/-1
  // order: 2

.s-actors-nav-btn

.s-actors-nav-btn-prev
  @extend .nav-btn-prev
  grid-columns: 3/-1

.s-actors-nav-btn-next
  @extend .nav-btn-next
  grid-columns: 3/-1

.s-actors-nav-counter
  grid-column: 1/-1
  width: 100%
  text-align: center
  margin-top: 6px

.s-actors-links
  grid-column: 1/-1
  display: grid
  grid-template-columns: repeat(3, 1fr)
  justify-items: center
  align-items: end
  grid-column-gap: 2*$gutter

.s-actors-link
  margin-bottom: 21/92.5*100%
  color: $accent
  opacity: 0.8
  transition: $common-transition

  &:hover
    opacity: 1

.s-actors-like, .s-actors-share, .s-actors-mail
  @extend .s-actors-link
  
@include media-max($b-md)
  $nav-container-side: $w-sm
  
  .s-actors-nav
    position: relative
    margin: 0 auto
    background: white
    width: $nav-container-side
