.s-actors-info
  padding-left: $gutter

.s-actors-name
  font-size: 18px
  text-transform: uppercase
  margin: 0
  margin-top: 65/292.5*100%

.s-actors-profession
  font-style: italic
  font-size: 16px
  font-weight: 300

.s-actors-text
  font-weight: 300
  margin-top: 7.5px
  margin-bottom: 0
