$nav-container-side: grid-width(3, $w-xl)
$popup-btn-side: 30px
$delta-val: $nav-container-side - $popup-btn-side 
$slider-transition: all .5s ease

.s-actors-nav
  position: absolute
  left: 0
  bottom: 0
  width: $nav-container-side
  height: $nav-container-side
  z-index: 2
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 70% auto
  transition: $slider-transition
  background: #fff
  transform: translate(0)

  &.minimized
    transform: translate(-$delta-val, $delta-val)
    background: transparent

.s-actors-info
  grid-column: 1/3
  grid-row: 1/2

.s-actors-nav-control
  grid-column: 3/-1
  grid-row: 1/2

.s-actors-social-buttons
  grid-column: 1/-1
  grid-row: 2/-1

@include media-max($b-md)
  $nav-container-side: $w-sm

  .s-actors-nav
    position: relative
    margin: 0 auto
    padding: 0 $gutter
    background: white
    width: $nav-container-side
    grid-template-columns: 1fr 4fr 1fr
    grid-column-gap: grid-width(1, $w-md)
    grid-template-rows: 50px minmax(150px, auto) 50px
    align-items: center
    height: auto

  .s-actors-info
    grid-column: 2/3
    grid-row: 2/3

  .s-actors-nav-btn-prev
    grid-column: 1/2
    grid-row: 2/3

  .s-actors-nav-btn-next
    grid-column: 3/-1
    grid-row: 2/3
    justify-self: end

  .s-actors-counter
    grid-column: 2/3
    grid-row: 1/2

  .s-actors-social-buttons
    grid-column: 2/3
    grid-row: 3/-1

@include media-max($b-sm)
  $nav-container-side: auto

  .s-actors-nav
    width: $nav-container-side
