.nav-btn
  position: relative
  width: 34px
  height: 34px
  background-color: $darkgrey
  outline: none
  transition: $common-transition

  &::after
    display: block
    font-family: $fontawesome
    color: white

  &:hover
    opacity: 0.9

.nav-btn-prev
  @extend .nav-btn
  &::after
    content: '\f104'

.nav-btn-next
  @extend .nav-btn
  &::after
    content: '\f105'
