.s-info-contacts
  margin-top: 30px
  display: flex
  letter-spacing: 0.1em
  justify-content: center
  align-items: start

.s-info-contacts-lines
  margin-top: 20px
  margin-bottom: 0
  margin-left: 25px
  list-style: none
  padding-left: 0

.s-info-contact-link
  color: $darkgrey
  text-decoration: none

  &:active
    color: $accent

  .fa
    margin-right: 15px

.s-info-phone
  margin-bottom: 5px

.s-info-social-links
  @extend .social-links
  width: 75%
  margin: 0 auto
  margin-top: 20px

.s-info-social-link
  @extend .social-link

@include media-max($b-xl)
  .s-info-contacts
    margin-top: 0

@include media-max($b-md)
  .s-info-contacts
    width: $w-sm
    justify-content: start
    margin: 0 auto
    padding-left: 2*$gutter

@include media-max($b-sm)
  .s-info-contacts
    width: auto
    padding-left: 0
