doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Square
    link(rel="icon" href="../img/favicon.png")
    link(rel="stylesheet" href="../css/app.min.css")

  body
    header.site-header
      .header-hamburger-wrapper
        a.hamburger.hamburger--squeeze(href="#m-menu")
          span.hamburger-box: span.hamburger-inner

      .header-logo-wrapper
        img.header-logo-square(src="../img/square-logo.svg" alt="square")

      .header-social-links-wrapper
        ul.header-social-links
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-facebook")
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-twitter")
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-instagram")
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-flickr")
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-google-plus")
          li.header-social-link-item: a.header-social-link(href="#"): i(class="fa fa-envelope")

    main
      section.s-actors
        -
          let actors = ['Morgan Freeman', 'Brad Pitt', 'Bruce Willis', 'Jennifer Aninston', 'Jennifer Lopez', 
          'Johnny Depp', 'Keira Knightley', 'Will Smith'];

        .s-actors-slider#actors-slider

          .s-actors-image-container
            - for (actorName of actors)
              img(class="s-actors-portrait" src=`../img/actors/${actorName}.png` alt=actorName)

          .s-actors-info-container
            mixin s-actors-information(name)
              .s-actors-information
                h3.s-actors-name #{name}
                em.s-actors-profession actor
                p.s-actors-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  | Quisque fringilla mi orci, ac venenatis ante venenatis eget.

            - for(let actorName of actors)
              +s-actors-information(actorName)

            .s-actors-nav
              button.nav-btn-prev
              button.nav-btn-next

            .s-actors-link-wrapper: a(href="#").s-actors-like:  i.fa.fa-heart
            .s-actors-link-wrapper: a(href="#").s-actors-share: i.fa.fa-share
            .s-actors-link-wrapper: a(href="#").s-actors-mail:  i.fa.fa-envelope

            a(href="#").s-actors-full-screen: i.fa.fa-compress

    nav#m-menu
      ul.m-menu-list
        li.m-menu-list-item: a.m-menu-link(href="#") home
        li.m-menu-list-item: a.m-menu-link(href="#") about
        li.m-menu-list-item: a.m-menu-link(href="#") blog
        li.m-menu-list-item: a.m-menu-link(href="#") portfolio
        li.m-menu-list-item: a.m-menu-link(href="#") post
        li.m-menu-list-item: a.m-menu-link(href="#") contact

    script(src="../js/app.min.js")