$accent: #c3a000
$fontsize: 14px
$darkgrey: #362f2f

$roboto: 'Roboto-square'
$opensans: 'Opensans-square'
$fontawesome: 'FontAwesome'

$common-transition: all .25 ease
$img-dir: '../../img'

// BOOTSTRAP SIZES

$b-xl: 1200px
$b-lg: 992px
$b-md: 768px
$b-sm: 576px

$w-xl: 1140px
$w-lg: 960px
$w-md: 720px
$w-sm: 540px

$gutter: 15px
//--

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('Roboto-square', normal, 300, '../fonts/robotocondensed-light-webfont.woff2')
@include font('Roboto-square', italic, 300, '../fonts/robotocondensed-lightitalic-webfont.woff2')
@include font('Roboto-square', normal, 400, '../fonts/robotocondensed-regular-webfont.woff2')
@include font('Roboto-square', normal, 700, '../fonts/robotocondensed-regular-webfont.woff2')
@include font('Opensans-square', normal, 400, '../fonts/opensans-regular-webfont.woff2')
@include font('FontAwesome', normal, 400, '../fonts/fontawesome-webfont.woff2')

@import '../libs/font-awesome/font-awesome.min.css'
@import '../libs/mmenu-js/mmenu.scss'
@import 'custom/hamburgers-settings.sass'
@import '../libs/hamburgers/hamburgers.scss'
@import '../libs/owl-carousel/assets/owl.carousel.min.css'
@import '../libs/owl-carousel/assets/owl.theme.default.min.css'

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $roboto
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $darkgrey
	background-color: #fff
	margin-top: 0
