.s-partners
  margin-top: 90px

.s-partners-container
  @extend .container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-column-gap: 2*$gutter
  align-items: center
  justify-items: center

.s-partners-logo
  &:first-child
    justify-self: start
    padding-left: 10px

  &:last-child
    justify-self: end
    padding-right: 10px

@include media-max($b-xl)
  .s-partners
    margin-top: 80px

@include media-max($b-lg)
  .s-partners-container
    max-width: $w-md
    grid-template-rows: repeat(2, 1fr)
    grid-row-gap: 2*$gutter
    grid-template-columns: repeat(2, 1fr)

  .s-partners-logo
    &:first-child
      justify-self: auto

    &:last-child
      justify-self: auto

@include media-max($b-sm)
  .s-partners-container
    grid-template-rows: repeat(4, 1fr)
    grid-template-columns: auto
